<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            	<h5 class="card-title">Barra de Progreso</h5>
                
            	<div class="progress">
				  <div class="progress-bar progress-bar-striped  progress-bar-animated bg-info" role="progressbar" [attr.ariaValuenow]="progreso1" [style.width]="progreso1 + '%'">
				  	
				  </div>
				</div>
				<br>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped  progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2" [style.width]="progreso2 + '%'">
				  	
				  </div>
				</div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
            	
            	<app-incrementador (cambioValor)="progreso1 = $event " leyenda="Progress Azul" [progreso]="progreso1"></app-incrementador>
            	<!-- ###Se realizo un componente para esta instuccion pór 
            		lo que se reppite varias veces ###

            	<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <button class="btn btn-outline-danger" 
				    		type="button" (click)="cambiar (+5)">
				    	<i class="mdi mdi-plus"></i>
				    </button>
				  </div>
				  <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso" placeholder="" aria-label="" aria-describedby="basic-addon1">
				  <div class="input-group-append">
				    <button class="btn btn-outline-danger"
				    		type="button" (click)="cambiar (-5)">
				    	<i class="mdi mdi-minus"></i>
				    </button>
				  </div>
				</div> -->


            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
            	<app-incrementador (cambioValor)="progreso2 = $event " leyenda="Progress Verde" [progreso]="progreso2"></app-incrementador>
            </div>
        </div>
    </div>
</div>


